img{
    height: 100px;
    width: 100px;
}
h1{
    color: blueviolet;
}
h2{
    color: brown;
}
#red{
    color: red;
}
#blue{
    color:  blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}